body {
    font-family: Arial, sans-serif;
}

table,
td,
th {
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

th {
    text-align: center;
}

td:nth-of-type(n+2) {
    text-align: center;
}

.normal {
    background-color: #bbffbb;
}

.yellow-alert {
    background-color: #ffff88;
}

.red-alert {
    background-color: #ff8888;
}
