__pycache__/
VENV*/
venv*/
*.ipynb
.ipynb_checkpoints/
configowen.py
configowen.ini
owen.ini
ConfiGranit.py
OwenCommon/*.txt
# OwenCommon/*.json
OwenEmulator/*.txt
WinWebView/history.json
WinWebView/index.html
WinGridView/icon*
WinTableView/icon*
*.png
!shot1.png
test.py
